{% extends "partials/layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block containerStart %}
  {{
    govukBackLink({
        text: "Back",
        href: backLinkHref
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
      {% if errorSummary and errorSummary.length %}
        {{
          govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorSummary
          })
        }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      {{
        govukSummaryList({
            rows: tableRows
        })
      }}
      <form method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% block formContent %}{% endblock %}

        <div class="govuk-button-group">
          {{
            govukButton({
                text: submitButtonText or "Save and continue",
                preventDoubleClick: true
            })
          }}
        </div>

        <p>
          <a class="govuk-link govuk-link--no-visited-state" href="{{ backLinkHref }}">
            {{ skipLinkText or 'Cancel' }}
          </a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
