{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "components/macros/statusTag.njk" import statusTag %}

{%- macro accommodationCard(context) -%}
  {% if context %}
    {%- set startDateHtml -%}
      {% if context.startDate %}
        <p>
          {{ 'Since' if (context.startDate | date('days') < 0) else 'From' }} {{ context.startDate | date('long') }}<br />
          ({{ context.startDate | date('days for/in') }})
        </p>
      {% endif %}
    {%- endset -%}


    {%- set endDateHtml -%}
      {% if context.endDate %}
        <p>
          Until {{ context.endDate | date('long') }}<br />
          ({{ context.endDate | date('days for/in') }})
        </p>
      {% endif %}
    {%- endset -%}

    <div class="sas-card govuk-!-margin-bottom-4">
      <h3 class="govuk-heading-m">{{ 'Current' if context.cardType === 'current' else 'Next' }} accommodation</h3>

      {% if context.settledTag -%}
        <div class="govuk-!-margin-bottom-4">{{ statusTag(context.settledTag) }}</div>
      {%- endif %}

      <p>
        {% if context.name %}{{ context.name }}<br />{% endif %}
        <span class="govuk-hint">{{ context.address | safe }}</span>
      </p>
      {% if context.cardType === 'next' %}
        {{ startDateHtml | safe }}
      {% endif %}

      {{ endDateHtml | safe }}

      {% if context.link -%}
        <p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{ context.link }}">View details</a>
        </p>
      {% endif %}
    </div>
  {% endif %}
{%- endmacro -%}
