{% from "govuk/components/details/macro.njk" import govukDetails as govukDetailsComponent %}

{%- macro govukDetailsList(context) -%}
  {% set listHtml %}
    <ul class="govuk-list govuk-list--bullet">
      {% for item in context.items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukDetailsComponent({ summaryText: context.summaryText, text: listHtml | safe, classes: 'govuk-!-margin-bottom-1' }) }}
{%- endmacro -%}
